/ReporteDiario
/Traffic
/UC
/UDD
/Vacunacion
/Camas_uci
/Curvas_epi
/DistribucionDEIS
/FallecidosRegional
/InformeEpidemiologico
/InformeTesteoTrazabilidad
/JAC
/MMA
/MTT
/NuevaDefDefunciones
/Otros
/Paso_a_paso
/RegistroCivil
