name: reporte_diario_daily_processing

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
    schedule:
      - cron:  '*/5 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Reporte_diario:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

      # Sets up python
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
          python-version: 3.8


    # Runs a set of commands using the runners shell
    - name: Install dependencies
      run: |
        date
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Set dvc remote and dvc pull
      run: |
          dvc remote add origin https://dagshub.com/itare/MinCienciaCovid19.dvc
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user itare
          dvc remote modify origin --local password  ${{ secrets.DAGS_TOKEN }} 
          dvc pull 
    - name: git clone y mas 
      run: |      
          git clone https://${{ secrets.GH_TOKEN }}@github.com/MinCiencia/MinCienciaDataPreparation.git /data-prep
          cp /data-prep/output/ReporteDiario ./input/
          dvc add input/ReporteDiario
          dvc push
          
    - uses: stefanzweifel/git-auto-commit-action@v4.1.1
      with:
        commit_message: "Added data to repo from MinSal FTP"

        # Optional glob pattern of files which should be added to the commit
        #file_pattern: output/* input/*

        # Optional local file path to the repository
        repository: .

        # Optional commit user and author settings
        commit_user_name: MinCiencia GitHub Actions Bot
        commit_user_email: actions@github.com
        commit_author: minciencia github bot <actions@github.com>
